<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<p>What do think is the longest word you can make with these letters?</p>
<form action="/score" method="get">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word">
  <input type="submit" value="Attempt!" class="btn">
</form>
